  <footer class="footer p-10 bg-neutral text-neutral-content grid-rows-1">
    <div>
      <span class="footer-title">Resources</span>
      <a class="link link-hover">Aeropress Tips</a>
      <a class="link link-hover">Youtube Content</a>
      <a class="link link-hover">Aeropress Website</a>
      <a class="link link-hover">Aeropress Gear</a>
    </div>
    <div>
      <span class="footer-title">About Me</span>
      <p>Made with ❤️ by <a href='https:www.anthonypz.com/' class="link link-primary" target="_blank" rel="noopener noreferrer">Anthony Perez</a></p>
      <a class="link link-hover" target="_blank" rel="noopener noreferrer" href="">Github</a>
      <a class="link link-hover" target="_blank" rel="noopener noreferrer" href="">Twitter</a>
    </div>
  </footer>
</body>
</html>
