  <footer class="footer p-10 lg:py-16 bg-neutral text-neutral-content grid-rows-1">
    <div>
      <span class="footer-title">Resources</span>
      <a class="link link-hover" target="_blank" rel="noopener noreferrer" href="https://aeropress.com/">Official AeroPress Website</a>
      <a class="link link-hover">Helpful Aeropress Videos</a>
      <a class="link link-hover">Supplemental AeroPress Gear</a>
    </div>
    <div>
      <span class="footer-title">About Me</span>
      <p>Created by <a href='https://www.anthonypz.com/' class="link link-primary" target="_blank" rel="noopener noreferrer">Anthony Perez</a></p>
      <a href="https://www.github.com/anthonypz" class="link link-hover" target="_blank" rel="noopener noreferrer" href="">Github</a>
      <a href="https://www.twitter.com/peareza" class="link link-hover" target="_blank" rel="noopener noreferrer" href="">Twitter</a>
    </div>
  </footer>
</body>
</html>
