<div class="navbar bg-base-100 px-4">
  <div class="navbar-start">
    <a href="/profile"
      ><img
        src="https://res.cloudinary.com/dyt5tdxun/image/upload/c_scale,f_auto,q_auto,w_350/v1664142158/InstaBrew_w4eozy.png"
        alt="instabrew logo"
        srcset=""
        width="150"
        height="auto"
    /></a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <a href="/login" class="btn">Log in</a>
    <a href="/signup" class="btn btn-primary ml-2">Sign up</a>
  </div>
  <div class="navbar-end lg:hidden">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a href="/login" class="btn text-accent-content">Log in</a>
        </li>
        <li class="mt-2">
          <a href="/signup" class="btn btn-primary">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</div>
