<%- include('partials/header') -%>
<!-- Displays different navbar depending on logged in state -->
<% if (userName) { %> <%- include('partials/navbar2') -%> <% } else { %> <%-
include('partials/navbar') -%> <% } %>

<div class="w-full mx-auto text-center prose mt-4">
  <h2>Aeropress Gear</h2>
</div>
<div
  class="w-full grid py-8 md:px-8 gap-6 lg:gap-8 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3"
>
  <div class="card card-compact w-80 sm:w-96 bg-base-100 shadow-xl mx-auto">
    <figure>
      <img
        src="https://res.cloudinary.com/dyt5tdxun/image/upload/c_scale,q_auto,h_500/v1667182740/coffeeGrinder_yv28oo.webp"
        alt="coffee grinder"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Normcore Manual Coffee Grinder V2</h2>
      <p>
        Hand Coffee Grinder with Stainless Steel 38mm Contemporary Conical Burr
        - Adjustable Settings - For Aeropress, Espresso, Pour over, French Press
      </p>
      <div class="card-actions justify-end mt-2">
        <a
          role="button"
          href="https://3cmls.co/US/B0963PFDB3"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View Price History</a
        >
        <a
          role="button"
          href="https://a.co/d/amw9Hco"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View at Amazon</a
        >
      </div>
    </div>
  </div>
  <div class="card card-compact w-80 sm:w-96 bg-base-100 shadow-xl mx-auto">
    <figure>
      <img
        src="https://res.cloudinary.com/dyt5tdxun/image/upload/c_scale,h_500/v1667182740/waterKettle_q5cmuz.webp"
        alt="water kettle"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Bodum Gooseneck Electric Water Kettle</h2>
      <p>
        Water kettle with a 27 ounce capacity. Made with stainless steel and
        natural, sustainable cork.
      </p>
      <div class="card-actions justify-end mt-2">
        <a
          role="button"
          href="https://3cmls.co/US/B07G2MBM6L"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View Price History</a
        >
        <a
          role="button"
          href="https://a.co/d/eWfLAFl"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View at Amazon</a
        >
      </div>
    </div>
  </div>
  <div class="card card-compact w-80 sm:w-96 bg-base-100 shadow-xl mx-auto">
    <figure>
      <img
        src="https://res.cloudinary.com/dyt5tdxun/image/upload/c_scale,h_500,q_auto/v1667182741/fellowAttachment_ayiock.webp"
        alt="aeropress attachment"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        Fellow Prismo Attachment for AeroPress Coffee Maker
      </h2>
      <p>
        Enhance Your Manual Coffee Maker to Brew Espresso-Style and No-Drip
        Immersion Coffees with a Reusable Metal Filter.
      </p>
      <div class="card-actions justify-end mt-2">
        <a
          role="button"
          href="https://3cmls.co/US/B079YBT2LJ"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View Price History</a
        >
        <a
          role="button"
          href="https://a.co/d/gC6YOTi"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View at Amazon</a
        >
      </div>
    </div>
  </div>
  <div class="card card-compact w-80 sm:w-96 bg-base-100 shadow-xl mx-auto">
    <figure>
      <img
        src="https://res.cloudinary.com/dyt5tdxun/image/upload/c_scale,h_500,q_auto/v1667182742/reusableFilter_bqh8lq.webp"
        alt="metal aeropress filter"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">AeroPress Stainless Steel Reusable Filter</h2>
      <p>
        Metal Coffee Filter for AeroPress Original & AeroPress Go Coffee Makers
      </p>
      <div class="card-actions justify-end mt-2">
        <a
          role="button"
          href="https://3cmls.co/US/B0B3BTYSTD"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View Price History</a
        >
        <a
          role="button"
          href="https://a.co/d/3nz6duY"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View at Amazon</a
        >
      </div>
    </div>
  </div>
  <div class="card card-compact w-80 sm:w-96 bg-base-100 shadow-xl mx-auto">
    <figure>
      <img
        src="https://res.cloudinary.com/dyt5tdxun/image/upload/c_scale,h_500,q_auto/v1667182741/coffeeScale_paiwv4.webp"
        alt="coffee scale"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Coffee Gator Coffee Scale</h2>
      <p>
        Digital, Multifunctional, Weighing Kitchen Scale w/ Timer & ﻿Large LCD
        for Food, Espresso and Drink
      </p>
      <div class="card-actions justify-end mt-2">
        <a
          role="button"
          href="https://3cmls.co/US/B07M9H2XZ9"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View Price History</a
        >
        <a
          role="button"
          href="https://a.co/d/c6vb2LM"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
          >View at Amazon</a
        >
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
