<!-- HTML head -->
<%- include('partials/header') -%>

<!-- navbar -->
<%- include('partials/navbar') -%>
<div class="hero min-h-fit bg-base-200 py-6">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="https://res.cloudinary.com/dyt5tdxun/image/upload/c_scale,f_auto,q_auto:good,w_1080/v1664140535/aeropress_ryafkn.jpg"
      alt="Making coffee using the Aeropress"
      class="max-w-xs md:max-w-sm rounded-lg shadow-2xl"
    />
    <div class="max-w-xl lg:p-4 prose">
      <h1 class="text-5xl font-bold">
        Discover the best AeroPress coffee recipes.
      </h1>
      <p class="">
        Making great tasting coffee at home can be a challenge. The
        <a
          class="link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://aeropress.com/"
          >AeroPress</a
        >
        coffee maker solves this problem by letting you brew the best coffee in
        under 2 minutes.
      </p>
      <p class="">
        InstaBrew makes it easy to discover and share your favorite AeroPress
        coffee recipes so you can start brewing delicious coffee instantly.
      </p>
      <a href="/signup" class="btn btn-wide btn-primary">Get Started</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
