<!-- HTML head -->
<%- include('partials/header') -%>

<!-- navbar -->
<%- include('partials/navbar') -%>
<div class="hero min-h-fit bg-base-200 py-6">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="https://res.cloudinary.com/dyt5tdxun/image/upload/c_scale,f_auto,q_auto:good,w_1080/v1664140535/aeropress_ryafkn.jpg"
      alt="Making coffee using the Aeropress"
      class="max-w-xs md:max-w-sm rounded-lg shadow-2xl"
    />
    <div class="max-w-xl lg:p-4">
      <h1 class="text-5xl font-bold">
        Discover & share Aeropress coffee recipes.
      </h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <a href="/signup" class="btn btn-wide btn-primary">Sign up</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
